* {
  margin: 0;
  padding: 0;
}
header {
  padding: 10px 0;
  display: flex;
}
.estralogo {
  width: 120px;
  height: 30px;
  padding-left: 10px;
}
nav {
  margin-left: auto;
}
li {
  display: inline-block;
  padding-right: 20px;
  color: #7C7C7C;
}
li a {
  text-decoration: none;
  color: #7C7C7C;
}
.firstviewcontets {
  height: 750px;
  width: 100%;
  position: relative;
}
.view {
  width: 70%;
  display: block;
  margin-left: auto;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}
.view-box {
  color: #7C7C7C;
  position: absolute;
  top: 20%;
  left: 10%;
  z-index: 10;
}
.main-title {
  font-size: 450%;
  font-family: 'Indie Flower', cursive;
}
.main-title span {
  color: #00B4DC;
}
.text-title {
  font-size: 170%;
}
.text-title span {
  color: #00B4DC;
}
.text-ttl {
  font-size: 130%;
}
.newscontents {
  color: #7C7C7C;
  padding: 5% 0;
}
.news-logo {
  font-family: 'Indie Flower', cursive;
  margin-left: 15%;
}
.news-title {
  margin-left: 15%;
}
.newsmaintable {
  margin-left: 15%;
  margin-top: 20px;
  border-top: 3px solid #7C7C7C;
  border-bottom: 3px solid #7C7C7C;
  width: 50%;
  padding: 10px 0px 40px 0px;
}
.newstable {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-collapse: collapse
}
.newstable tr {
  border-bottom: 1px solid #7C7C7C;
}
.newstable td {
  padding: 20px;
  margin-bottom: 20px;
}
.newstable td:last-child {
  margin-bottom: 20px;
}
.newstag-ttl {
  width: 100px;
  color: white;
  background: #AD0072;
  border-radius: 30px;
  text-align: center;
  display: block;
}
.aboutcontents {
  color: #7C7C7C;
  background: #E8E8E8;
  padding: 5% 0;
}
.about-logo {
  font-family: 'Indie Flower', cursive;
  text-align: center;
  margin-top: 1%;
}
.about-title {
  text-align: center;
  margin-bottom: 3%;
}
.about-ttl {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.about-text p {
  padding-bottom: 30px;
  display: block;
}
.about {
  width: 30%;
  margin-left: 10%;
  margin-right: -5%;
  display: block;
}
.servicecontents {
  color: #7C7C7C;
}
.service-logo {
  font-family: 'Indie Flower', cursive;
  margin-top: 3%;
  margin-left: 10%;
}
.service-title {
  margin-top: 5px;
  margin-left: 10%;
}
.servicebox {
  padding: 50px;
  display: flex;
  justify-content: center;
  }
.box1 {
  background: #AD0072;
  color: white;
  text-align: center;
  padding: 10% 8% 0 8%;
}
.box-title {
  font-weight: bold;
  font-size: 20px;
}
.box1 .box-title {
  margin-bottom: 10%;
}
.box-mtext {
  width: 460px;
  font-size: 20px;
}
.box1 .service {
  width: 50%;
  margin: -20% 0 10% 0;
}
.service {
  width: 35%;
}
.servicebox-sub {
  flex-direction: colum;
}
.box2 {
  padding: 0 50px 0 130px;
  margin: 0;
  background: #E126A2;
  color: white;
  display: flex;
  justify-content: center;
}
.box3 {
  padding: 0 50px 0 130px;
  margin: 0;
  background: #F18CCF;
  color: white;
  display: flex;
  justify-content: center;
}
.box-text {
  padding: 80px 0;
}
.box2 .service, .box3 .service {
  padding: 30px 0;
}
.blogcontents {
  color: #7C7C7C;
  background: #E8E8E8;
  padding: 5% 0;
}
.blog-logo {
  font-family: 'Indie Flower', cursive;
  margin-left: 15%;
}
.blog-title {
  font-family: 'Indie Flower', cursive;
  margin-top: 5px;
  margin-left: 15%;
}
.blogbox-m {
  margin-top: 2%;
  display: flex;
  justify-content: center;
}
.blog-box {
  margin: 0 40px;
  background: white;
  max-width: 350px;
  width: 350px;
  border-radius: 20px;
}
.card-img .cardview {
  border-radius: 20px 20px 0 0;
  width: 100%;
}
.card-img {
  display: block;
  position: relative;
}
.card-img .card-title {
  color: white;
  background: #AD0072;
  border-radius: 20px 0 0 0;
  padding: 5px 20px 5px 20px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.blog-text {
  width: 85%;
  font-size: 120%;
  font-weight: bold;
  margin: 10px auto;
}
.blog-card-tag {
  padding: 20px 0 20px 0;
  text-align: center;
}
.blog-card-tag-item {
  display: inline-block;
  padding-right: 30px;
}
.blog-card-tag-item-last {
  display: inline-block;
  padding-left: 30px;
}
.viewpage-btn {
  border: solid 2px #000000;
  color: #7C7C7C;
  background: white;
  text-decoration: none;
  width: 250px;
  padding: 20px 0;
  text-align: center;
  margin: 50px auto 0;
  border-radius: 50px;
  display: block;
}
.companycontents {
  color: #7C7C7C;
}
.company-logo {
  font-family: 'Indie Flower', cursive;
  margin-top: 3%;
  margin-left: 15%;
}
.company-title {
  margin-top: 5px;
  margin-left: 15%;
}
.companycontents table, .companycontents th, .companycontents td {
  border-collapse: collapse;
  border: 1px solid #C6C6C6;
}
.companycontents table {
  width: 70%;
  margin: 2% auto 5%;
}
.companycontents th, td {
  padding-top: 20px;
  padding-bottom: 20px;
}
.companycontents th {
  background: #E8E8E8;
  text-align: left;
  padding-left: 20px;
}
.companycontents td {
  padding-left: 20px;
}
.lastviewcontents {
  width: 100%;
  margin-bottom: 50px;
  display: flex;
}
.adopt {
  width: 50%;
  position: relative;
}
.adopt img {
  width: 100%;
}
.adopt-ttl {
  font-weight: bold;
  font-size: 180%;
  color: white;
  text-align: center;
  position: absolute;
  top: 45%;
  left: 40%;
}
.interview {
  width: 50%;
  text-align: center;
  position: relative;
}
.interview img {
  width: 100%;
}
.interview-ttl {
  font-weight: bold;
  font-size: 180%;
  color: white;
  text-align: center;
  position: absolute;
  top: 45%;
  left: 40%;
}
.otocontents {
  color: #7C7C7C;
  text-align: center;
  padding: 30px 0;
}
.oto-ttl {
  margin-bottom: 30px;
}
.line {
  width: 30px;
  height: 50px;
  margin: 0 auto;
  border-left: solid 2px #000000;
  text-align: center;
}
.oto-btn {
  color: white;
  font-size: 20px;
  background: linear-gradient(90deg, #E126A2, #AD0072);
  text-decoration: none;
  box-shadow: 0 10px 0 #363636;
  width: 400px;
  padding: 30px 0;
  text-align: center;
  margin: 30px auto 0;
  border-radius: 50px;
  display: block;
  position: relative;
}
.oto-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50px;
  background: url(../img/mailicon.svg) no-repeat;
  background-size: cover;
  width: 40px;
  height: 40px;
  transform: translate(0, -50%);
}
footer {
  background: #E8E8E8;
  color: #7C7C7C;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}